.height {
  height: 10vh; /* Adjust height as needed */
}

.search-bar {
  position: relative;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #495057; /* Adjust icon color as needed */
}

.search-input {
  padding-left: 35px; /* Adjust padding to make room for the icon */
  border-radius: 20px; /* Rounded borders for the input field */
  /* Additional styling for the input field as desired */
}

/* Responsive adjustments or additional styling as needed */
